body{
    width:100%;
    margin:0;
    padding:0;
}
.navigation-bar{
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
head{
    display: block;
}
@media(max-width:600px){
    .nav-left,.nav-right{
        display: none;
    }
    .my-meeting{
        display: inline;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
    }
    .navigation-bar{
        position:relative;
    }
    .hamburger-menu{
        position:absolute;
        top: 0%;
        right: 0%;
        margin-top: 4px;
        margin-right: 4px;
        color: solid rgb(77, 73, 73);           
        background-color: white; 
    }
    .hamburger-menu:hover{
        cursor: pointer;
    }
}
@media(min-width:600px)
{
    .hamburger-menu{
        display: none;
    }
    .my-meeting{
        display: none;
    }
    .nav-list>li{
        list-style: none;
        display:inline;

}
}
.full-content{
  width:90%;
  margin:0% 5% 0% 5%;
}
ul{
    margin:0%;
    padding-left: 76.8px;
    padding-right: 76.8px; 
    padding-top: 5px ; 
    padding-bottom: 5px ;  
} 
li{
     list-style: none;
     display:inline;
}
.navigator{
    color:black;
    opacity:0.8;
    padding:4px;
}
.nav:hover{
    background-color: rgb(185, 200, 216);
    opacity:1;
}
button{
font-size: 16px;
border: none;
color: gray;
}
.display-none{
    display: none;
}

